
<h1>Please Enter your information:</h1>

 <form id="my_form" onsubmit="return false;">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="">Fitness Level:</label>
  <input type="text" id="flevel" name="flevel"><br><br>
  <input type="submit" value="Submit">
</form> 