
<h1>Some information about shapes</h1>
<img class = "float-right" src="/common/p1/all-shapes2.jpg" alt="shapes">
<h2>What’s so interesting about shapes?</h2>



<p>
	<ul>
		<li>Formulas to describe shapes</li>
		<li>Shapes in geometry</li>
		<li>Shapes in trigonometry</li>
		<li>Shapes in physics</li>
		<li>Shapes in nature</li>
	</ul>
</p>

<p>According to <a href="https://www.toppr.com/guides/maths/basic-geometrical-ideas/basic-geometrical-shapes/">Toppr.com</a>, <br>
<blockquote>Geometric Shapes can be defined as figure or area closed by a boundary which is created by combining the specific amount of curves, points, and lines.</blockquote>


