
 
  <div class="container">

<form action="/">
    <input type="submit" value="Re-select Location" />
</form>

<form action="/fitness">
    <input type="submit" value="Re-select Activity Level" />
</form>


location.href = "/recommendation";

<input type="checkbox" id="filterMe" name="filterBox" class = "checkbox_check">
<label for="filterBox">Filter results to your selected fitness level</label>



 <div id = "stage" class = "container">
    RESULTS
 </div>
 <table id="table" class="table table-striped"> 
   <!-- # name length location -->
   
</table> 
<script type = "text/javascript" language = "javascript">
function getDirections(scriptLat, scriptLng){

  window.open("https://www.google.com/maps/dir//"+scriptLat+", "+scriptLng+"/", "_blank");
}



</script>

<script type = "text/javascript" language = "javascript">
function getGear(scriptLat, scriptLng, scriptDiff){
  
  sessionStorage.setItem('trailLat', scriptLat);
  //console.log(sessionStorage.getItem('trailLat'));
  sessionStorage.setItem('trailLng', scriptLng);
  //console.log(sessionStorage.getItem('trailLng'));
  sessionStorage.setItem('trailDiff', scriptDiff);
  //console.log(sessionStorage.getItem('trailDiff'));
  location.href = "/recommendation";
}

</script>

<script type = "text/javascript" language = "javascript">
function getTrails(){

  //start re-add here

  var lat = 40.0274;
  var lng = -105.2519;

  var latNew;
  var lngNew;         

  var myLoc = (sessionStorage.getItem('locGlobal'));
  var myDiff = (sessionStorage.getItem('fitlevel'));
  myNewLoc = (myLoc.replace(/ /g, '%2C%'));
  myNextNewLoc = (myNewLoc.replace(/[',']+/g, ''));

  var forMeorAll = 'true';
  //var forMeorAll = document.getElementById("forMe").value;

        if ($('input.checkbox_check').is(':checked')) {
          
            forMeorAll = 'false';
        }


        $.get( "https://api.opencagedata.com/geocode/v1/google-v3-json?q="+myNextNewLoc+"&key={{oc_api}}&pretty=1&no_annotations=1", function(kd) {


            latNew = JSON.stringify(kd.results[0].geometry.location.lat);
            lngNew = JSON.stringify(kd.results[0].geometry.location.lng);



            
            lat = (latNew.replace(/['"]+/g, ''));
            lng = (lngNew.replace(/['"]+/g, ''));



         var x = "<tr><td>"+ "#" +"</td><td>" + "Name" + "</td><td>"+"Length" +"</td><td>"+ "Difficulty" +"</td><td>"+ "Location" +"</td><td></td><td></td></td><td></tr>";
         document.getElementById("table").innerHTML = "";
         
          $.getJSON('https://www.hikingproject.com/data/get-trails?lat='+lat+'&lon='+lng+'&maxDistance=10&key={{trail_api}}', function(jd) {
             
            var sum = 0;
             //console.log(JSON.stringify(jd));
             for (i in jd.trails) {
               //console.log(myDiff);

               var tDiff;
               if(jd.trails[i].difficulty == 'green'){
                  tDiff = 'easy';
               }
               else if(jd.trails[i].difficulty =='greenBlue'){
                 tDiff = 'easy/intermediate';
               }
              else if(jd.trails[i].difficulty == 'blue'){
                tDiff = 'intermediate';
               }
               else if(jd.trails[i].difficulty == 'blueBlack'){
                 tDiff = 'intermediate/difficult';
               }
               else if(jd.trails[i].difficulty == 'black'){
                 tDiff = 'hard';
               }
               else{
                 tDiff = 'very hard';
               }
            
               //console.log(jd.trails[i].difficulty);
               //console.log(tDiff);
               //console.log(myDiff);
               
               if(tDiff == myDiff || forMeorAll == 'true'){
                 //console.log('match');
               
               var tempLat;
               var tempLng;

               tempLat = jd.trails[i].latitude;
               tempLng = jd.trails[i].longitude;
               tempDiff = jd.trails[i].difficulty

               var myLocString = tempLat+", "+tempLng;

               var myLocDiffString = myLocString+", "+ "\""+tDiff+"\"";

              //console.log(myLocDiffString);

               sum++;
                x += "<tr><td>"+ sum +"</td><td>" + jd.trails[i].name + "</td><td>"+jd.trails[i].length +"</td><td>"+tDiff +"</td><td>"+jd.trails[i].location +"</td><td>" +  "<button class='btn btn-info' onclick='getDirections("+myLocString+")'>Get Directions</button>"+"</td><td>"+"</td><td>" +  "<button class='btn btn-secondary' onclick='getGear("+myLocDiffString+")'>Get Gear Recommendations</button>"+"</td></tr>";
             }
             }
              document.getElementById("table").innerHTML = x;

          });
       });

  //end re-add

  };



</script>


   <script type = "text/javascript" language = "javascript">

    $(document).ready(function() {

      getTrails();

    $('input.checkbox_check').change(
    function(){
        getTrails();

    });


    });
 </script>


 </div>

 