
 
  <div class="container">

  <script type = "text/javascript" language = "javascript">
  var x = "<tr><td>"+ "#" +"</td><td>" + "Name" + "</td><td>"+"Length" +"</td><td>"+ "Location" + "</td></tr>";
    $(document).ready(function() {
      var lat = 40.0274;
      var lon = -105.2519;
 
       $("#driver").click(function(event){
          $.getJSON('https://www.hikingproject.com/data/get-trails?lat='+lat+'&lon='+lon+'&maxDistance=10&key={{trail_api}}', function(jd) {
             
            var sum = 0;
             console.log(JSON.stringify(jd));
             for (i in jd.trails) {
               sum++;
                x += "<tr><td>"+ sum +"</td><td>" + jd.trails[i].name + "</td><td>"+jd.trails[i].length +"</td><td>"+jd.trails[i].location + "</td></tr>";
              }
              document.getElementById("table").innerHTML = x;

          });
       });
   
    });
 </script>

<label for="location">Please enter a location: </label>
<input type="text" id="location" name="location" required
       minlength="4" maxlength="20" size="20">

       <input type = "button" id = "driver" value = "Get Trails" class="btn btn-primary">


 <div id = "stage" class = "container">
    RESULTS
 </div>
 <table id="table"> 
   <!-- # name length location -->
   
</table> 

 </div>

 